{% extends "templates/base.twig" %}

{% block title %}Admin Register Request{% endblock %}

{% block body %}
<center>
<div class="jumbotron">
    <h1>Admin Registration Requests</h1>      
</div>
<table>
{% for user in adminreq %}
    <tr>
        <td style="padding:10px">
            {{ user["name"] }}
        </td>
        <td style="padding:10px">
            <form action="/approvereq" method="POST"><input type="text" value="{{ user["name"] }}" name="username" style="display:none"><input type="text" value="{{ user["password"] }}" name="password" style="display:none"><input type="text" value="{{ user["salt"] }}" name="salt" style="display:none"><input type="submit" value="Approve" class="btn btn-primary"></form>
        </td>
        <td style="padding:10px">
            <form action="/denyreq" method="POST"><input type="text" value="{{ user["name"] }}" name="username" style="display:none"><input type="text" value="{{ user["password"] }}" name="password" style="display:none"><input type="submit" value="Deny" class="btn btn-primary"></form>
        </td>
    </tr>
{% endfor %}
</table>
<br>
<br>
<form action="/adminhome" method="GET">
    <input type="text" name="type" value="admin" style="display: none;">
    <input type="submit" value="Home" class="btn btn-primary"/>
</form>
</center>
{% endblock %}