{% extends "templates/base.twig" %}

{% block title %}Client Request Portal{% endblock %}

{% block body %}
<center>
<div class="jumbotron">
<h1>Client Request Portal</h1>
</div>
<table>
{% for book in booklist %}
{% if book[2]==null %}
    <tr><td style="padding:10px">{{ book[0] }}</td>
        <td style="padding:10px">{{ book[1] }}</td>
        <td style="padding:10px"><form action="/makerequest" method="POST"><input type="text" value="{{ uname }}" name="username" style="display:none"><input type="text" value="{{ book[1] }}" name="bookname" style="display:none"><input type="text" value="{{ book[0] }}" name="bookid" style="display:none"><input type="submit" value="Request" class="btn btn-primary"></form></td>
    </tr>
{% else %}
    {% if book[2]==uname %}
            <tr><td style="padding:10px">{{ book[0] }}</td>
                <td style="padding:10px">{{ book[1] }}</td>
                <td style="padding:10px;">Issued to you</td>
            </tr>
    {% else %}
            <tr><td style="padding:10px">{{ book[0] }}</td>
                <td style="padding:10px">{{ book[1] }}</td>
                <td style="padding:10px">Not available</td>
            </tr>
    {% endif %}

{% endif %}

{% endfor %}
</table>
<br><br>
<form action="/clienthome" method="GET">
<input type="text" name="type" value="client" style="display: none;">
<input type="submit" value="Home" class="btn btn-primary"/>
</form>
</center>
{% endblock %}