{% extends "templates/base.twig" %}

{% block title %}Issue Portal{% endblock %}

{% block body %}
<center>
<div class="jumbotron">
<h1>Issue Portal</h1>      
</div>
<table id="requestlist">
    {% for book in issue %}
    <tr>
    <td style="padding:10px">{{ book[0] }}</td><td style="padding:10px">{{ book[1] }}</td>
    <td>{{ book[2] }}</td>
    <td style="padding:10px"><form action="/issueaccept" method="POST"><input type="text" value="{{ book[2] }}" name="username" style="display:none"><input type="text" value="{{ book[0] }}" name="bookid" style="display:none"><input type="submit" value="Approve"></form></td>
    <td style="padding:10px"><form action="/issuedecline" method="POST"><input type="text" value="{{ book[2] }}" name="username" style="display:none"><input type="text" value="{{ book[0] }}" name="bookid" style="display:none"><input type="submit" value="Deny"></form></td>
    </tr>
    {% endfor %}
</table>

<form action="/adminhome" method="GET">
<input type="text" name="type" value="client" style="display: none;">
<input type="submit" value="Home"/>
</form>
</center>
{% endblock %}